p{
    margin: 0;
}

button{
    align-items: center;
}

.breadcrumbBooks ul{
    overflow: hidden;
}

.breadcrumbBooks ul li{
    list-style: none;
    float: left;
    width: 33.3%;
}

.breadcrumbBooks ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
}

.listBook li{
    list-style: none;
    margin-bottom: 2%;
}

.containerBook{
    column-count: 4;
    column-width: 400px;
    /*column-rule-style: solid;
    /*column-rule-width: 1px;
    /*column-rule-color: lightblue;*/
}

.bookCover{
    text-align: center;
}

.bookCover img{
    width: 50%;
}

.featuresBook h2{
    margin: 0;
    margin-bottom: 1%;
}

.iconAvailable{
    width: 15px;
}

.buttonsAdd{
    padding-top: 25%;
    padding-left: 5%;
}

.buttonsAdd button{
    width: 140px;
}

.buttonsAdd button img{
    width: 100%;
}